@import 'mixins';

[data-freeform~="clearfix"]::after {
  clear: both;
  content: "";
  display: table;
}

[data-freeform~="reset"] {
  margin: 0;
  border: 0;
  padding: 0;
  list-style-type: none;
}

@each $property in (margin, border, padding) {
  [data-freeform~="no-#{$property}"] {
    #{$property}: 0;
  }
}

[data-freeform~="align--auto"] {
  margin-left: auto;
  margin-right: auto;
}

[data-freeform~="align--x"] {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

[data-freeform~="align--y"] {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

[data-freeform~="align--xy"] {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@include freeformRules(position, (relative, absolute, fixed));
@include freeformRules(float, (left, right, none));
@include freeformRules(clear, (left, right, both));
@include freeformRules(display, (block, inline, inline-block, table, none));

[data-freeform~="text--hidden"] {
  font: 0/0;
}

[data-freeform~="text--inherit"] {
  text-decoration: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  font-family: inherit;
  font-variant: inherit;
}

@include freeformRules(font-weight, (lighter, bold, bolder), text);
@include freeformRules(text-align, (center, left, right), text);
@include freeformRules(vertical-align, (middle), text);
